[submodule "vendor/myclabs/deep-copy"]
    path = vendor/myclabs/deep-copy
    url = https://github.com/myclabs/DeepCopy.git
[submodule "vendor/nikic/php-parser"]
    path = vendor/nikic/php-parser
    url = https://github.com/nikic/PHP-Parser.git
[submodule "vendor/phar-io/manifest"]
    path = vendor/phar-io/manifest
    url = https://github.com/phar-io/manifest.git
[submodule "vendor/phar-io/version"]
    path = vendor/phar-io/version
    url = https://github.com/phar-io/version.git
[submodule "vendor/phpunit/php-code-coverage"]
    path = vendor/phpunit/php-code-coverage
    url = https://github.com/sebastianbergmann/php-code-coverage.git
[submodule "vendor/phpunit/php-file-iterator"]
    path = vendor/phpunit/php-file-iterator
    url = https://github.com/sebastianbergmann/php-file-iterator.git
[submodule "vendor/phpunit/php-invoker"]
    path = vendor/phpunit/php-invoker
    url = https://github.com/sebastianbergmann/php-invoker.git
[submodule "vendor/phpunit/php-text-template"]
    path = vendor/phpunit/php-text-template
    url = https://github.com/sebastianbergmann/php-text-template.git
[submodule "vendor/phpunit/php-timer"]
path = vendor/phpunit/php-timer
url = https://github.com/sebastianbergmann/php-timer.git
[submodule "vendor/phpunit/phpunit"]
    path = vendor/phpunit/phpunit
    url = https://github.com/sebastianbergmann/phpunit.git
[submodule "vendor/sebastian/cli-parser"]
    path = vendor/sebastian/cli-parser
    url = https://github.com/sebastianbergmann/cli-parser.git